@use "variables" as *;

.header {
  font-family:'Inter', sans-serif;
  font-size: $font-text;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 10;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 10px;
  }
  &__logo{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__logo-img{
    height: 30px;
  }
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

  }
  &__menu-link{
    transition: color 0.3s;
    &:hover{
      color: $color-orange;
    }
  }
  &__menu-link.link-orange{
    color: #EB662B;
  }
  .header__btn{
    background: $color-orange;
    border-radius: 50px;
    width: 83px;
    height: 44px;
    color: white;
  }
  .hamburger{
    display: none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 10;
  }
}


