@media (max-width: 1026px) {
.header__logo-text{
  display: none;
  }
  .tours__title{
    text-align:center ;
  }
  .tours__info{
    justify-content: space-evenly;
  }
  .destinations__title{
    text-align:center ;
  }
  .destinations__info{
    gap: 20px;
  }
}

@media (max-width: 806px) {
  .header__inner{
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
  }
.header__menu{
  gap: 40px;
}
  .header__btn{
    display: none;
  }
}
@media (max-width: 740px) {
  .header__inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid orange;
  }
  .header__btn{
    display: none;
  }
}
@media (max-width: 500px) {
    .header .hamburger {
      display: block;
    }
  .header__logo{
    display: none;
  }
  .header__menu{
    display: flex;             // всегда flex
    flex-direction: column;
    align-items: center;
    gap: 16px;
    visibility: hidden;      // полностью скрыто изначально
    opacity: 0;
    max-height: 0;             // скрыто
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .header__menu.active {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .header__btn{
    display: none;
  }
}
@media (max-width: 900px) {
  .home {
    .home-banner {
      &__icons {
        flex-wrap: wrap;
        height: auto;
        display: flex;
        justify-content:space-around;
        padding: 20px;
        gap: 20px;
        max-width: 450px;
        background: transparent;
      }
      &__feature{
        justify-content: center;
        gap: 20px;
        display: none;
      }
    }
    &-banner__btn{
      background: #E7E6E6;
      border: none;
    }
  }
}
@media (max-width: 862px) {
  .destinations__card {
    flex: 1 0 20%; // 2 карточки в ряд
  }
}
@media (max-width: 646px) {
  .destinations__card {
    flex: 1 0 30%; // 2 карточки в ряд
  }
}
@media (max-width: 470px) {
  .destinations__card {
    flex: 1 0 40%; // 2 карточки в ряд
  }
}
@media (max-width: 628px) {
  .popular__title{
    text-align: center;
  }

  @media (max-width: 640px) {
    .popular-catalog__item{
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
}
@media (max-width: 943px) {
  .popular__title{
    text-align: center;
  }
  .popular-slider__track{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap:wrap ;
  }
  
}
@media (max-width: 1218px) {
  .sale{
    &-inner{
     flex-direction: column;
     gap: 40px;
      padding: 20px;
    }
  }
  .sale-inner__info{
    max-width: 700px;
    margin-top: 40px;
  }
}
@media (max-width: 765px) {
    .things__catalog{
       max-width: 100%;
    }
    .things__catalog-item{
      flex-direction: column;
      align-items: center;
    }
   .things__catalog-item:first-child .things__column img {
    max-width: 100%;
    width: 300px;
    height: auto;
   }
  @media(max-width: 554px) {
    .things__catalog-item:last-child .things__column {
      align-items: center;
      justify-content: center;
    }
  }
  .trending__catalog{
    width: 70%;
    margin: 0 auto;
    max-width: 100%;
  }
  .trending__catalog-cards{
    max-width: 100%;
  }
  .trending__catalog-card {
    min-width: 100%; /* займёт почти весь экран */
    justify-content:center;
    align-items: center;
  }
}
@media (max-width: 942px) {
   .booking__blocks{
     flex-direction: column;
   }
   .booking__block{
     padding-top: 50px;
     padding-bottom: 50px;
   }
}
@media (max-width: 859px) {
  .articles__cards{
    justify-content: center;
    flex-wrap: wrap;
  }
  .articles__header{
    justify-content: space-around;
  }
}
@media (max-width: 1305px) {
  .footer__info{
    gap: 80px;
    justify-content: center;
  }
  .footer__block--long{
    width: 400px;
  }
}
@media (max-width:405px) {
  .footer__form{
    width: 350px;
  }
  .footer__input{
    width: 150px;
  }
}
@media (max-width: 1293px) {

  .traveling__card{
    align-items: center;
    justify-content: space-around;
  }
  .traveling__card-summary{
    display: flex;
    flex-direction: row;
    border-left: none;
    gap: 40px;
    padding: 30px;
  }
  .traveling__card-summary>p:first-child{
    padding-bottom: 0;
  }
  .traveling__card-info{
    padding: 10px;
  }
}
@media (max-width: 739px) {
  .traveling__stats{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .traveling__card-summary{
   flex-wrap: wrap;
    justify-content: end;
    align-items: end;
  }
  .traveling__card-actions{
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
@media (max-width: 628px) {
.traveling__layout{
  flex-direction: column;
}
  .traveling__sidebar{
    max-width: 100%;
  }
}
@media (max-width: 1178px) {
  .container--hero{
    justify-content: space-evenly;
    align-items: center;
  }
  .header__menu--destination {
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}
@media(max-width: 554px) {
  .header--hero{
    .header__logo{
      display: none;
    }
    .header__menu--destination {
      padding-top: 20px;
    }
  }
}