@use "reset";
@use "fonts";
@use "variables" as *;
@use "header";
@use "sections/section-home";
@use "sections/section-tourz";
@use "sections/section-destination";
@use "sections/section-popular";
@use "media";

body,html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}
.container__inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
}

