@charset "UTF-8";
/* Обнуление отступов и размеров */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем стандартные стили */
html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Убираем маркеры списков */
ul, ol {
  list-style: none;
}

/* Ссылки без подчёркивания */
a {
  text-decoration: none;
  color: inherit;
}

/* Картинки адаптивные */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Формы */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Кнопки */
button {
  cursor: pointer;
}

/* Regular 400 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Medium 500 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* Bold 700 */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.header {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px 10px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__logo-img {
  height: 30px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.header__menu-link {
  transition: color 0.3s;
}
.header__menu-link:hover {
  color: #EB662B;
}
.header__menu-link.link-orange {
  color: #EB662B;
}
.header .header__btn {
  background: #EB662B;
  border-radius: 50px;
  width: 83px;
  height: 44px;
  color: white;
}
.header .hamburger {
  display: none;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 10;
}

.home {
  padding: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255) 100%), url("../img/image.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .home-banner {
  padding-top: 220px;
  padding-bottom: 220px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.home .home-banner__info {
  color: white;
}
.home .home-banner__title {
  font-size: 70px;
  padding-bottom: 10px;
}
.home .home-banner__text {
  font-size: 15px;
}
.home .home-banner__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px auto;
  border-radius: 12px;
  max-width: 850px;
  height: 80px;
  background: #ffffff;
  width: 100%;
  flex-direction: row;
}
.home .home-banner__feature {
  color: #05073C;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.home .home-banner__feature span {
  transition: background 0.3s linear;
  width: 50px;
  height: 50px;
  background: gainsboro;
  border-radius: 10%;
}
.home .home-banner__feature span:hover {
  background: #EB662B;
  transition: all 0.3s linear;
}
.home .home-banner__btn {
  width: 166px;
  height: 60px;
  border-radius: 12px;
  border: #05073C 1px solid;
  transition: all 0.3s linear;
}
.home .home-banner__btn:hover {
  background: #EB662B;
  transition: all 0.3s linear;
  border: none;
}

.home--active {
  background-image: url("../img/image2.png");
}

.tours {
  padding: 120px 0;
}
.tours__title {
  font-size: 30px;
}
.tours__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.tours__card {
  max-width: 255px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px;
  transition: all 0.5s linear;
}
.tours__card:hover {
  background: lavender;
  transition: all 1s linear;
  border-radius: 20px;
}
.tours__card-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
}
.tours__card-text {
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
  line-height: 30px;
}

.destinations {
  margin-top: 120px;
}
.destinations__title {
  font-size: 30px;
  font-weight: bold;
}
.destinations__info {
  padding-top: 40px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.destinations__card {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinations__card-icon {
  padding-bottom: 20px;
  transition: 0.2s linear;
}
.destinations__card-icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s linear;
}
.destinations__card-title {
  font-size: 15px;
}
.destinations__card-text {
  padding-top: 10px;
  font-size: 13px;
  color: #05073C;
}
.destinations__button {
  font-size: 20px;
  margin: 40px auto;
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  transition: 0.3s linear;
  cursor: pointer;
}
.destinations__button:hover {
  color: #EB662B;
  background: seashell;
  transition: all 0.3s linear;
}

.popular {
  padding: 114px 0;
}
.popular__title {
  font-size: 30px;
  color: #05073C;
}
.popular-catalog {
  padding-top: 40px;
}
.popular-catalog__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.popular-catalog__card {
  max-width: 300px;
  min-height: 388px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: #E7E6E6 1px solid;
  border-radius: 10px;
  transition: 0.3s linear;
}
.popular-catalog__card:hover {
  transform: scale(1.03);
  transition: transform 0.3s linear;
}
.popular-catalog__card:hover .popular-catalog__subtitle,
.popular-catalog__card:hover .popular-catalog__text {
  text-decoration: underline;
}
.popular-catalog__subtitle {
  padding: 10px 0 10px 20px;
  font-size: 14px;
  color: #717171;
  text-align: center;
}
.popular-catalog__text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.popular-catalog__info {
  height: 40px;
  gap: 120px;
  display: flex;
  border-top: #E7E6E6 solid 2px;
  align-items: center;
  justify-content: center;
}

.sale {
  padding: 105px 0;
  margin: 0 auto;
  max-width: 1530px;
  background-image: url("../img/sale/sale2.png");
  border-radius: 20px;
}
.sale-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.sale-inner__info {
  max-width: 376px;
  margin: 40px 0 0 120px;
}
.sale-inner__title {
  font-size: 40px;
  color: #05073C;
  line-height: 1.3;
}
.sale-inner__title .orange {
  color: orange;
}
.sale-inner__text {
  margin-top: 12px;
  font-size: 15px;
  color: #05073C;
}
.sale-inner__button {
  margin-top: 30px;
  width: 166px;
  height: 60px;
  border-radius: 12px;
  border: #05073C 1px solid;
  transition: all 0.3s linear;
  background: #EB662B;
}
.sale-inner__button:hover {
  background: none;
  transition: all 0.3s linear;
  border: #05073C 1px solid;
}
.sale-inner__image > img {
  border-top-right-radius: 20px;
}

.things {
  padding: 100px 0;
}
.things__title {
  font-size: 30px;
  color: #05073C;
  padding: 20px;
}
.things__button {
  padding: 20px;
  transition: 0.3s linear;
}
.things__button:hover {
  cursor: pointer;
  color: #EB662B;
  transform: translateX(20px);
  transition: transform 0.3s, color 0.3s;
}
.things__catalog {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
.things__catalog-item {
  display: flex;
  gap: 20px;
}
.things__catalog-item img {
  display: block;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}
.things__catalog-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.things__catalog-item:first-child .things__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.things__catalog-item:first-child .things__column img {
  width: 300px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
}
.things__catalog-item:first-child .things__img--big {
  width: 410px;
  height: 510px;
  object-fit: cover;
  border-radius: 12px;
}
.things__catalog-item:last-child {
  flex-direction: column;
  gap: 20px;
}
.things__catalog-item:last-child > .things__img--big {
  width: 520px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  max-width: 100%;
}
.things__catalog-item:last-child .things__column {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.things__catalog-item:last-child .things__column img:first-child {
  width: 190px;
  height: 240px;
}
.things__catalog-item:last-child .things__column img:last-child {
  width: 300px;
  height: 240px;
}
.things__catalog-item:last-child .things__column img {
  object-fit: cover;
  border-radius: 12px;
}

.trending {
  padding: 100px 0;
}
.trending__inner {
  background: #F5F5F5;
  max-width: 1530px;
  padding-top: 115px;
  margin: 0 auto;
}
.trending__title {
  font-size: 30px;
  color: #05073C;
  margin-top: 0;
  padding: 20px;
}
.trending__button {
  padding: 20px;
  transition: 0.3s linear;
}
.trending__button:hover {
  cursor: pointer;
  color: #EB662B;
  transform: translateX(20px);
  transition: transform 0.3s, color 0.3s;
}
.trending__catalog {
  padding-top: 40px;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 100%;
}
.trending__catalog-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  transition: transform 0.3s ease;
}
.trending__catalog-card {
  min-width: 300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: #E7E6E6 1px solid;
  border-radius: 10px;
  scroll-snap-align: start;
  transition: 0.3s linear;
}
.trending__catalog-card:hover {
  transform: scale(1.03);
  transition: transform 0.3s linear;
}
.trending__catalog-card:hover .trending-catalog__subtitle,
.trending__catalog-card:hover .trending-catalog__text {
  text-decoration: underline;
}
.trending__catalog-img {
  display: block;
  max-width: 278px;
  height: 198.56px;
  width: 100%;
}
.trending__catalog-subtitle {
  padding: 10px 0 10px 20px;
  font-size: 14px;
  color: #717171;
  text-align: center;
}
.trending__catalog-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.trending__catalog-info {
  height: 40px;
  gap: 120px;
  display: flex;
  border-top: #E7E6E6 solid 2px;
  align-items: center;
  justify-content: center;
}
.trending__btn {
  text-align: center;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  cursor: pointer;
}
.trending__btn-prev, .trending__btn-next {
  padding: 10px;
  border-bottom: #05073C solid 1px;
  transition: all 0.3s linear;
}
.trending__btn-prev:hover, .trending__btn-next:hover {
  color: #EB662B;
  transition: all 0.3s linear;
  font-weight: bold;
}

.reviews {
  padding: 100px 0;
}
.reviews__title {
  text-align: center;
}
.reviews__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 80px auto;
  gap: 40px;
  max-width: 650px;
  position: relative;
  overflow: hidden;
}
.reviews__item {
  display: none;
  max-width: 630px;
  height: 360px;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
  transition: all 0.2s linear;
  padding: 20px;
}
.reviews__item:hover {
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: all 0.2s linear;
}
.reviews__item.active {
  display: flex;
}
.reviews__item-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.reviews__item-subtitle {
  color: #EB662B;
  font-size: 17px;
  font-weight: 300;
}
.reviews__item-text {
  font-size: 15px;
  line-height: 37px;
  text-align: center;
}
.reviews__dots {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #000;
}

.booking {
  background-image: url("../img/booking/text.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1530px;
  padding: 100px 0;
  margin: 0 auto;
  border-radius: 12px;
}
.booking__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.booking__block {
  width: 450px;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 100%;
}
.booking__title {
  font-size: 39px;
  line-height: 52px;
}
.booking__text {
  padding-top: 17px;
  line-height: 28px;
}
.booking__description {
  padding-top: 20px;
  padding-bottom: 44px;
}
.booking__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.booking__input {
  width: 320px;
  height: 60px;
  background: white;
  border-radius: 20px;
  padding: 15px;
}
.booking__btn {
  width: 107px;
  height: 60px;
  background: white;
  border-radius: 20px;
  padding: 15px;
  transition: all 0.3s linear;
}
.booking__btn:hover {
  background: #EB662B;
  transition: all 0.3s linear;
  border: none;
  border-radius: 20px;
  color: white;
}
.booking__img {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}

.articles {
  padding: 80px 0;
}
.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles__title {
  font-size: 30px;
  color: #05073C;
}
.articles__btn {
  padding: 20px;
  transition: 0.3s linear;
}
.articles__btn:hover {
  cursor: pointer;
  color: #EB662B;
  transform: translateX(20px);
  transition: transform 0.3s, color 0.3s;
}
.articles__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 45px;
}
.articles__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.articles__info {
  font-size: 13.67px;
}
.articles__text {
  font-size: 18px;
  line-height: 27px;
}

.main {
  padding: 120px 20px 20px 20px;
}

.traveling__layout {
  padding-top: 50px;
  display: flex;
  gap: 40px;
  align-items: start;
  justify-content: space-between;
}
.traveling__sidebar {
  max-width: 298px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: #E7E6E6 1px solid;
  border-radius: 20px;
}
.traveling__filter {
  background: #EB662B;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.traveling__filter-label {
  background: white;
  max-width: 238px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}
.traveling__checkboxes {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 35px;
}
.traveling__checkboxes-title {
  color: #05073C;
  font-size: 18px;
}
.traveling__input {
  color: #05073C;
}
.traveling__btn {
  transition: 0.3s linear;
  color: #4A43C4;
  display: flex;
  align-items: start;
  justify-content: start;
}
.traveling__btn:hover {
  cursor: pointer;
  color: #EB662B;
  transform: translateX(10px);
  transition: transform 0.3s, color 0.3s;
}
.traveling__settings {
  padding: 20px;
}
.traveling__settings-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.traveling__settings-list {
  padding: 25px 0 25px 20px;
  border-bottom: 1px solid #E7E6E6;
}
.traveling__settings-list:first-child {
  border-top: 1px solid #E7E6E6;
}
.traveling__settings-link {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s linear;
  display: flex;
  align-items: start;
  justify-content: start;
}
.traveling__settings-link:hover {
  cursor: pointer;
  color: #EB662B;
  transform: translateX(10px);
  transition: transform 0.3s, color 0.3s;
}
.traveling__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #717171;
}
.traveling__cards {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  flex: 1;
}
.traveling__card {
  width: 100%;
  max-width: 960px;
  border: #E7E6E6 1px solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  transition: 0.3s linear;
}
.traveling__card:hover {
  border: #EB662B 1px solid;
  transition: 0.3s linear all;
}
.traveling__card-title {
  line-height: 30px;
  font-size: 18px;
  font-weight: 500;
}
.traveling__card-text {
  font-size: 15px;
  line-height: 28px;
}
.traveling__card-info {
  max-width: 353px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #05073C;
  align-items: center;
}
.traveling__card-location {
  padding-bottom: 10px;
}
.traveling__card-actions {
  color: #EB662B;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 40px;
}
.traveling__card-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
  align-items: center;
  border-left: #E7E6E6 1px solid;
  padding: 20px;
}
.traveling__card-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.traveling__card-price-old {
  color: #C6C6D2;
  text-decoration: line-through;
}
.traveling__card-summary > p:first-child {
  padding-bottom: 100px;
  font-size: 13px;
}
.traveling__card-btn {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  border: #05073C 1px solid;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.traveling__card-btn:hover {
  background: #EB662B;
  transition: all 0.3s linear;
  border: none;
}

.hero {
  background-image: url("../img/destination/destination.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 784px;
  height: auto;
  color: white;
  width: 100%;
  max-width: 1920px;
  transition: background-image 0.2s ease;
}
.hero__banner {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  max-width: 909px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.hero__banner-title {
  font-size: 70px;
  text-align: center;
  line-height: 84px;
}
.hero__banner-form {
  margin-top: 30px;
  max-width: 470px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  background: #E7E6E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.hero__banner-form:hover .hero__banner-circle {
  transform: translateX(-30px);
}
.hero__banner-input {
  padding: 20px 20px;
}
.hero__banner-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EB662B;
  transition: transform 0.2s linear;
}
.hero__banner-text {
  padding-top: 40px;
  padding-bottom: 29px;
}
.hero__banner-btns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.hero__banner-btn {
  background: rgba(255, 255, 255, 0.2);
  width: 148px;
  height: 60px;
  border-radius: 30px;
  color: white;
  transition: 0.2s linear;
}
.hero__banner-btn:hover {
  transition: background 0.2s linear;
  background: orange;
}

.hero .header.header--hero {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.container--hero {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.header__menu--destination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.popular--best .popular__span {
  color: #C6C6D2;
}

.discover {
  padding: 80px 0;
}
.discover__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discover__card {
  max-width: 409px;
  width: 100%;
  min-height: 347px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: white;
  border-radius: 20px;
}
.discover__card:hover {
  color: black;
}
.discover .card--first {
  background-image: url("../img/destination/deals.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.discover .card--first:hover {
  background-image: url("../img/destination/norway.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discover .card--second {
  background-image: url("../img/destination/dubai.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.discover .card--second:hover {
  background-image: url("../img/destination/dubai.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discover .card--third {
  background-image: url("../img/destination/discover-Europe.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s ease-in-out;
}
.discover .card--third:hover {
  background-image: url("../img/destination/europe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.discover__card-description {
  padding: 50px 50px;
}
.discover__card-title {
  padding-top: 20px;
  line-height: 36px;
}
.discover__card-btn {
  margin: 50px 50px;
  width: 190px;
  height: 62px;
  background: white;
  color: black;
  border-radius: 20px;
  transition: 0.2s linear;
}
.discover__card-btn:hover {
  transition: background 0.2s linear;
  background: orange;
}

.top-tours {
  background: #FEF7F4;
}
.top-tours__item {
  padding: 150px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.top-tours__content {
  max-width: 439px;
  width: 100%;
  padding: 10px;
}
.top-tours__title {
  font-size: 30px;
  color: #05073C;
}
.top-tours__text {
  padding-top: 34px;
  padding-bottom: 34px;
  line-height: 28px;
}
.top-tours__btn {
  width: 409px;
  border-radius: 20px;
  height: 62px;
  color: white;
  transition: background 0.4s linear;
  background: linear-gradient(to right, #EE8C61, #4C43C4) left;
  background-size: 200% 100%;
}
.top-tours__btn:hover {
  background: linear-gradient(to right, #4C43C4, #EE8C61) right;
  transition: background 0.4s linear;
  border: none;
  background-size: 200% 100%;
}
.top-tours__cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 700px;
  gap: 30px;
}
.top-tours__card {
  max-width: 189px;
  min-height: 211px;
  width: 100%;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
  gap: 10px;
  transition: animation 0.6s ease;
}
.top-tours__card:hover {
  transform: rotateY(360deg);
  transition: transform 0.6s linear;
}
.top-tours__card-title {
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
}

.footer {
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
}
.footer__header {
  padding: 30px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__contact span {
  color: #EB662B;
  font-weight: bold;
}
.footer__header-btn {
  font-weight: 500;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.footer__header-btn:hover {
  color: #EB662B;
  transition: all 0.2s ease-in-out;
}
.footer__info {
  padding-top: 50px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.footer__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
}
.footer__block--long {
  width: 400px;
  max-width: 100%;
}
.footer__title {
  font-size: 30px;
  color: #05073C;
}
.footer__adress {
  line-height: 30px;
}
.footer__email {
  color: #05073C;
  cursor: pointer;
}
.footer__email:hover {
  color: #EB662B;
  border-bottom: 1px solid black;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__link {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.footer__link:hover {
  color: #EB662B;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid black;
}
.footer__form {
  width: 400px;
  max-width: 100%;
  height: 50px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__form-btn {
  border-left: 1px solid black;
  padding: 15px;
  width: 120px;
  max-width: 100%;
  transition: 0.3s linear;
}
.footer__form-btn:hover {
  background: #EB662B;
  transition: all 0.3s linear;
  border: none;
  border-radius: 20px;
  color: white;
}

@media (max-width: 1026px) {
  .header__logo-text {
    display: none;
  }
  .tours__title {
    text-align: center;
  }
  .tours__info {
    justify-content: space-evenly;
  }
  .destinations__title {
    text-align: center;
  }
  .destinations__info {
    gap: 20px;
  }
}
@media (max-width: 806px) {
  .header__inner {
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .header__menu {
    gap: 40px;
  }
  .header__btn {
    display: none;
  }
}
@media (max-width: 740px) {
  .header__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid orange;
  }
  .header__btn {
    display: none;
  }
}
@media (max-width: 500px) {
  .header .hamburger {
    display: block;
  }
  .header__logo {
    display: none;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .header__menu.active {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  .header__btn {
    display: none;
  }
}
@media (max-width: 900px) {
  .home .home-banner__icons {
    flex-wrap: wrap;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    max-width: 450px;
    background: transparent;
  }
  .home .home-banner__feature {
    justify-content: center;
    gap: 20px;
    display: none;
  }
  .home-banner__btn {
    background: #E7E6E6;
    border: none;
  }
}
@media (max-width: 862px) {
  .destinations__card {
    flex: 1 0 20%;
  }
}
@media (max-width: 646px) {
  .destinations__card {
    flex: 1 0 30%;
  }
}
@media (max-width: 470px) {
  .destinations__card {
    flex: 1 0 40%;
  }
}
@media (max-width: 628px) {
  .popular__title {
    text-align: center;
  }
}
@media (max-width: 628px) and (max-width: 640px) {
  .popular-catalog__item {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 943px) {
  .popular__title {
    text-align: center;
  }
  .popular-slider__track {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
}
@media (max-width: 1218px) {
  .sale-inner {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .sale-inner__info {
    max-width: 700px;
    margin-top: 40px;
  }
}
@media (max-width: 765px) {
  .things__catalog {
    max-width: 100%;
  }
  .things__catalog-item {
    flex-direction: column;
    align-items: center;
  }
  .things__catalog-item:first-child .things__column img {
    max-width: 100%;
    width: 300px;
    height: auto;
  }
}
@media (max-width: 765px) and (max-width: 554px) {
  .things__catalog-item:last-child .things__column {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 765px) {
  .trending__catalog {
    width: 70%;
    margin: 0 auto;
    max-width: 100%;
  }
  .trending__catalog-cards {
    max-width: 100%;
  }
  .trending__catalog-card {
    min-width: 100%; /* займёт почти весь экран */
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 942px) {
  .booking__blocks {
    flex-direction: column;
  }
  .booking__block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 859px) {
  .articles__cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .articles__header {
    justify-content: space-around;
  }
}
@media (max-width: 1305px) {
  .footer__info {
    gap: 80px;
    justify-content: center;
  }
  .footer__block--long {
    width: 400px;
  }
}
@media (max-width: 405px) {
  .footer__form {
    width: 350px;
  }
  .footer__input {
    width: 150px;
  }
}
@media (max-width: 1293px) {
  .traveling__card {
    align-items: center;
    justify-content: space-around;
  }
  .traveling__card-summary {
    display: flex;
    flex-direction: row;
    border-left: none;
    gap: 40px;
    padding: 30px;
  }
  .traveling__card-summary > p:first-child {
    padding-bottom: 0;
  }
  .traveling__card-info {
    padding: 10px;
  }
}
@media (max-width: 739px) {
  .traveling__stats {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .traveling__card-summary {
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
  }
  .traveling__card-actions {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
@media (max-width: 628px) {
  .traveling__layout {
    flex-direction: column;
  }
  .traveling__sidebar {
    max-width: 100%;
  }
}
@media (max-width: 1178px) {
  .container--hero {
    justify-content: space-evenly;
    align-items: center;
  }
  .header__menu--destination {
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 554px) {
  .header--hero {
    flex-direction: column;
  }
  .header--hero .header__logo {
    display: none;
  }
  .header--hero .header__menu--destination {
    padding-top: 20px;
  }
}
@media (max-width: 649px) {
  .hero__banner {
    max-width: 700px;
    padding: 200px 20px;
  }
  .hero__banner-title {
    font-size: 50px;
    line-height: 60px;
  }
}
body, html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}

.container__inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
}

img {
  display: block;
}

/*# sourceMappingURL=main.css.map */
