@use "reset";
@use "fonts";
@use "variables" as *;
@use "header";
@use "sections/section-home";
@use "sections/section-tourz";
@use "sections/section-destination";
@use "sections/section-popular";
@use "sections/section-sale";
@use "sections/section-things";
@use "sections/section-trending";
@use "sections/section-reviews";
@use "sections/section-booking";
@use "sections/section-articles";
@use "sections/section-traveling";
@use "sections/destination-header";
@use "sections/section-best";
@use "sections/section-discover";
@use "sections/section-top-tours";
@use "sections/section-inspiration";
@use "sections/section-ultimate-tours";
@use "footer";
@use "media";

body,html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}
.container__inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
}
img{
  display: block;
}

