.booking{
  background-image: url('../img/booking/text.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1530px;
  margin: 0 auto;
  border-radius: 12px;
  &__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__block:first-child{
    max-width: 450px;
    width: 100%;
    color: white;
    padding-top: 50px;
  }
  &__block:last-child{
    max-width: 600px;
    width: 100%;
  }
  &__block:last-child img{
     max-width: 600px;
     object-fit: cover;
     width: 100%;
  }
  &__title{
    font-size: 39px;
    line-height: 52px;
  }
  &__text{
    padding-top: 17px;
    line-height: 28px;
  }
  &__description{
    padding-top: 20px;
    padding-bottom: 44px;
  }
  &__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &__input{
    width: 320px;
    height: 60px;
    background: white;
    border-radius: 20px;
    padding: 15px;
  }
  &__btn{
    width: 107px;
    height: 60px;
    background: white;
    border-radius: 20px;
    padding: 15px;
    transition: all 0.3s linear;
    &:hover {
      background: #EB662B;
      transition: all 0.3s linear;
      border: none;
      border-radius: 20px;
      color: white;
    }
  }
  &__block-img{
    max-width: 450px;
    width: 100%;
  }
}