.popular{
  margin-top: 114px;
  &__title{
    font-size: 30px;
  }
  &-slider{
    padding-top: 40px;
  }
  &-slider__track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap:wrap ;
  }
  &-slider__card-link {
    display: block; // чтобы ссылка охватывала всю карточку
    text-decoration: none;
    color: inherit;
    transition: 0.3s linear;

    &:hover {
      transform: scale(1.03);
      transition: transform .3s linear;
      .popular-slider__subtitle,
      .popular-slider__text {
        text-decoration: underline;
      }
    }
  }
  &-slider__card{
    max-width: 300px;
    min-height: 388px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 10px;
    border: #E7E6E6 1px solid;
    border-radius: 10px;
  }
  &-slider__img{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      top: 50px;
      left: 40px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: firebrick;
      z-index: 10;
    }
  }
    &-slider__subtitle{
      padding: 10px 0 10px 20px;
      font-size: 14px;
      color: #717171;
      text-align: center;
    }
    &-slider__text{
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
    }
    &-slider__info{
      height:40px ;
      gap: 120px;
      display: flex;
      border-top: #E7E6E6 solid 2px;
      align-items:center;
      justify-content:center;
    }

}
