.features{
  padding-top: 120px;
  &__icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  &__icon h1{
    padding-top: 20px;
  }
}